img {
	width: 20px;
	position: relative;
	top: 6px;
}

#err {
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Arial', sans-serif;
}

@media screen and (max-device-width: 1250px) {
	#err {
		font-size: 25px;
	}
	img {
		width: 25px;
		/*top: 9px;*/
	}
}