#main {
	text-decoration: none;
	color: blue;
	font-family: 'Arial', sans-serif;
}
#main-div {
	text-align: center;
	margin-bottom: 30px;
}

@media screen and (max-device-width: 1250px) {
	#main {
		font-size: 25px;
	}
}