#RewriteRule ^([0-9a-zA-Z]{5})/?$ script.php?id=$1
#RewriteRule ^playlist/([0-9]+)/?$ script.php?id=$1
#RewriteRule ^dir/([^/]+)/ script.php?get=$1
#DocumentRoot "/home/url.cool/www"
#<Directory>
#    RewriteEngine On
#    RewriteBase "/"
#    RewriteRule "^index\.html$"  "welcome.html"
#</Directory>

AddDefaultCharset UTF-8
php_value default_charset "utf-8"

RewriteEngine On
RewriteBase /
RewriteRule ^([0-9a-zA-Z]+)/?$ redirect.php?id=$1